sudo: required
dist: xenial
language: python

python:
  - "3.4"

install:
  - sudo apt-get install --yes sudo apt-get install build-essential libgoogle-glog-dev libgflags-dev libeigen3-dev libopencv-dev libcppnetlib-dev libboost-dev libboost-iostreams-dev libcurlpp-dev libcurl4-openssl-dev protobuf-compiler libopenblas-dev libhdf5-dev libprotobuf-dev libleveldb-dev libsnappy-dev liblmdb-dev libutfcpp-dev

  # Download libcurlpp-dev
  - sudo apt-get remove --yes libcurlpp0
  - git clone https://github.com/datacratic/curlpp
  - cd curlpp
  - ./autogen.sh
  - ./configure --prefix=/usr --enable-ewarning=no
  - make
  - sudo make install

  #  Install LightGBM
  - git clone https://github.com/beniz/deepdetect.git &HOME/DeepDetect
  - cd $HOME/LightGBM && mkdir build && cd build && cmake .. && make && cd main && ./dede --port 8085
  - cd $TRAVIS_BUILD_DIR